.home-page {

    .homepage-intro {

        &__logo {
            display: block;
            margin: 0 auto;
        }

        &__title {
            text-align: center;
        }

        &__text {
            text-align: center;
        }
    }
}